@import '~styles/mixin';
@import "~bourbon/core/_bourbon.scss";
.play-p{
    .player{
        // z-index: -9999;
        position: absolute;
        // visibility: hidden;
    }
    .content{
        padding: 0.35rem;
        display: flex;
        flex-direction: column;
        .lrc-wrap{
            overflow: auto;
        }
        .control{
            height: 2rem;
            flex: 0 0 auto;
        }
    }
    .am-navbar {
        position: relative;
        height: 1.5rem;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.08);
        color: #fff;
    }
    .lrc-item{
        line-height: 1.3;
        margin: 0.5rem;
        padding-left: 10px;
        color: fff;
        transition: color .5s;
        text-align: center;
        @include fs(0.45rem);
    }
    .lrc-item.active{
        color: greenyellow;
        transition: color .5s;
    }
    .lrc-list{
        transition-duration: .3s !important;
    }
    .lrc-list  .slider-frame{
        height: auto !important;
    }
    .control{
        .slider{
            display: flex;
            align-items: center;
        }
        .am-slider-wrapper{
            flex: 1 0 auto;
        }
        .cur-time,.total-time{
            text-align: center;
            width: 1rem;
            flex: 0 1 auto;
        }
    }
}